<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="true">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link type="text/css" media="all"
          href="/static/css/autoptimize_16bbdb870664ad491fa5ff6f4ff91688.css"
          rel="stylesheet"/>
    <title>浪晋测试小课堂</title>
    <meta name='robots' content='noindex,follow'/>
    <link rel='dns-prefetch' href='//s.w.org'/>
    <script type='text/javascript'
            src='/static/js/common/jquery.js'></script>
    <script type='text/javascript'>var usp_custom_field = "usp_custom_field";
    var usp_custom_checkbox = "usp_custom_checkbox";
    var usp_case_sensitivity = "false";
    var usp_challenge_response = "2";
    var usp_min_images = 0;
    var usp_max_images = 1;
    var usp_parsley_error = "\u9a8c\u8bc1\u9519\u8bef";</script>

    <link rel='https://api.w.org/' href='https://www.zhutibaba.com/demo/iux/wp-json/'/>
    <link rel="EditURI" type="application/rsd+xml" title="RSD"
          href="https://www.zhutibaba.com/demo/iux/xmlrpc.php?rsd"/>
    <link rel="wlwmanifest" type="application/wlwmanifest+xml"
          href="https://www.zhutibaba.com/demo/iux/wp-includes/wlwmanifest.xml"/>
</head>
<body class="home blog wp-custom-logo hfeed">
<div id="page" class="site">
    <div class="top-bar clear">
        <div class="container">
            <nav id="top-nav" class="top-navigation">

                <div class="menu-top-container">
                    <ul id="top-menu" class="sf-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
                        <li id="menu-item-830"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-830"><a href="/">回到首页</a>
                        </li>
                        <li id="menu-item-829"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-829">
                            <a href="https://www.zhutibaba.com/demo/iux/zhuanti" class="sf-with-ul">专题列表</a>
                            <ul class="sub-menu" style="display: none;">
                                <li id="menu-item-828"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-828"><a
                                        href="https://www.zhutibaba.com/demo/iux/zhuanti-full">测试基础</a></li>
                                <li id="menu-item-828"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-828"><a
                                        href="https://www.zhutibaba.com/demo/iux/zhuanti-full">测试开发</a></li>
                                <li id="menu-item-828"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-828"><a
                                        href="https://www.zhutibaba.com/demo/iux/zhuanti-full">性能测试</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-790"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-790"><a
                                target="_blank" href="https://www.zhutibaba.com/vip">加入会员</a></li>
                    </ul>
                </div>

            </nav>
            <div class="header-right">
                <ul>
                    <li class="header-login"><a
                            href="https://www.zhutibaba.com/demo/iux/login?redirect_to=https%3A%2F%2Fwww.zhutibaba.com%2Fdemo%2Fiux%2F"
                            title="登录">登录</a></li>
                    <li class="header-register"><a href="https://www.zhutibaba.com/demo/iux/register" title="注册">注册</a>
                    </li>
                    <li class="header-submit"><a
                            href="https://www.zhutibaba.com/demo/iux/login?redirect_to=https%3A%2F%2Fwww.zhutibaba.com%2Fdemo%2Fiux%2F?redirect_to=https://www.zhutibaba.com/demo/iux/tougao"
                            title="用户投稿">投稿</a></li>
                </ul>
            </div>
        </div>
    </div>
    <header id="masthead" class="site-header clear">
        <div class="container">
            <div class="site-branding">
                <div id="logo">
                    <span class="helper"></span>
                    <a href="/" class="custom-logo-link" rel="home"
                       itemprop="url"><img width="240" height="110" src="./static/imgs/logo.png" class="custom-logo"
                                           alt="浪晋测试小课堂" itemprop="logo"></a></div><!-- #logo -->

                <div class="site-desc">
                    <div class="line1 has-line2">让每个人类</div>
                    <div class="line2">平等地提升自己！</div>
                </div><!-- .site-desc -->

            </div><!-- .site-branding -->



            <nav id="primary-nav" class="primary-navigation tablet_menu_col_8 phone_menu_col_4">
                <div class="menu-primary-container">
                    <ul id="primary-menu" class="sf-menu">
                        <li id="menu-item-795"
                            class="color1 menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-795">
                            <a href="https://www.zhutibaba.com/demo/iux/" aria-current="page"><i class="fa fa-home"></i>
                                首页</a></li>
                        <li id="menu-item-784"
                            class="color2 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-784">
                            <a href="https://www.zhutibaba.com/demo/iux/zhuanti"><i class="fa fa-tags"></i> 专题</a>
                            <ul class="sub-menu">
                                <li id="menu-item-785"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-785"><a
                                        href="https://www.zhutibaba.com/demo/iux/zhuanti-full">全宽专题列表</a></li>
                                <li id="menu-item-771"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-771"><a
                                        href="https://www.zhutibaba.com/demo/iux/house">专题页面</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-734"
                            class="color3 menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-734">
                            <a href="https://www.zhutibaba.com/demo/iux/news"><i class="fa fa-file-text"></i> 新闻</a>
                            <ul class="sub-menu">
                                <li id="menu-item-742"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-742"><a
                                        href="https://www.zhutibaba.com/demo/iux/news">下拉菜单 1</a></li>
                                <li id="menu-item-741"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-741"><a
                                        href="https://www.zhutibaba.com/demo/iux/news">下拉菜单 2</a></li>
                                <li id="menu-item-743"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-743"><a
                                        href="https://www.zhutibaba.com/demo/iux/news">下拉菜单 3</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-736"
                            class="color4 menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-736">
                            <a href="https://www.zhutibaba.com/demo/iux/tech"><i class="fa fa-bookmark"></i> 科技</a>
                            <ul class="sub-menu">
                                <li id="menu-item-744"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-744"><a
                                        href="https://www.zhutibaba.com/demo/iux/tech">创业俱乐部</a></li>
                                <li id="menu-item-745"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-745"><a
                                        href="https://www.zhutibaba.com/demo/iux/tech">区块链</a></li>
                                <li id="menu-item-746"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-746"><a
                                        href="https://www.zhutibaba.com/demo/iux/tech">互联网</a></li>
                                <li id="menu-item-756"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-756"><a
                                        href="https://www.zhutibaba.com/demo/iux/tech">手机数码</a></li>
                                <li id="menu-item-757"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-757"><a
                                        href="https://www.zhutibaba.com/demo/iux/tech">WordPress</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-739"
                            class="color5 menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-739">
                            <a href="https://www.zhutibaba.com/demo/iux/house"><i class="fa fa-heart"></i> 房产</a>
                            <ul class="sub-menu">
                                <li id="menu-item-758"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-758"><a
                                        href="https://www.zhutibaba.com/demo/iux/house">新房</a></li>
                                <li id="menu-item-759"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-759"><a
                                        href="https://www.zhutibaba.com/demo/iux/house">二手房</a></li>
                                <li id="menu-item-762"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-762"><a
                                        href="https://www.zhutibaba.com/demo/iux/house">装修建材</a></li>
                                <li id="menu-item-760"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-760"><a
                                        href="https://www.zhutibaba.com/demo/iux/house">家具家居</a></li>
                                <li id="menu-item-761"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-761"><a
                                        href="https://www.zhutibaba.com/demo/iux/house">海外置业</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-735"
                            class="color16 menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-735">
                            <a href="https://www.zhutibaba.com/demo/iux/auto"><i class="fa fa-car"></i> 汽车</a>
                            <ul class="sub-menu">
                                <li id="menu-item-747"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-747"><a
                                        href="https://www.zhutibaba.com/demo/iux/auto">上市新车</a></li>
                                <li id="menu-item-754"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-754"><a
                                        href="https://www.zhutibaba.com/demo/iux/auto">用车小百科</a></li>
                                <li id="menu-item-748"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-748"><a
                                        href="https://www.zhutibaba.com/demo/iux/auto">车型对比</a></li>
                                <li id="menu-item-755"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-755"><a
                                        href="https://www.zhutibaba.com/demo/iux/auto">汽车测评</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-738"
                            class="color17 menu-item menu-item-type-taxonomy menu-item-object-category menu-item-738"><a
                                href="https://www.zhutibaba.com/demo/iux/finance"><i class="fa fa-paper-plane"></i>
                            财经</a></li>
                        <li id="menu-item-737"
                            class="color16 menu-item menu-item-type-taxonomy menu-item-object-category menu-item-737"><a
                                href="https://www.zhutibaba.com/demo/iux/food"><i class="fa fa-coffee"></i> 美食</a></li>
                    </ul>
                </div>
            </nav>
            <div class="header-search-icon"><span class="search-icon"> <i class="fa fa-search"></i> <i
                    class="fa fa-close"></i> </span></div>
            <div class="header-search">
                <form id="searchform" method="get" action="https://www.zhutibaba.com/demo/iux/"><input type="search"
                                                                                                       name="s"
                                                                                                       class="search-input"
                                                                                                       placeholder="请输入关键词"
                                                                                                       autocomplete="off">
                    <button type="submit" class="search-submit">搜索</button>
                </form>
            </div>
        </div>
    </header>
    <div class="header-space"></div>
    <div id="content" class="site-content site_container container clear">
        <div id="primary" class="content-area clear">
            <div id="featured-slider" class="slider-with-grid">
                <ul class="bxslider" id="carouselList">

                    {#轮播图#}
                    {% for c in carousel %}
                        <li class="featured-slide hentry"
                            style="float: none; list-style: none; position: absolute; width: 800px; display: block;"
                            aria-hidden="false"><a class="thumbnail-link"
                                                   href="{{ c.content }}" target="_blank">
                            <div class="thumbnail-wrap"><img width="800" height="333"
                                                             src="{{ c.img_url }}"
                                                             class="attachment-iux_featured_large_thumb2 size-iux_featured_large_thumb2 wp-post-image"
                                                             alt=""></div>
                        </a>
                            <div class="entry-header clear" style="display: block; "><h2 class="entry-title"><a
                                    target="_blank"
                                    href="{{ c.content }}">{{ c.title }}</a></h2></div>
                            <div class="gradient"></div>
                        </li>
                    {% endfor %}

                </ul>
                <div class="ribbon"><span>编辑推荐</span></div>
            </div>
            <div class="clear"></div>
            <div class="home-zhuanti-section">
                <div class="zhuanti-heading clear">
                    <div class="custom-wrap clear"><h2>专题列表</h2>
                        <div class="desc"> 自定义文字描述</div>
                        <div class="section-more"><a target="_blank" href="https://www.zhutibaba.com/demo/iux/zhuanti">查看所有专题
                            <i class="fa fa-angle-right"></i></a></div>
                    </div>
                </div>
                <div class="home-zhuanti-list clear">

                    {#专题列表#}
                    {% for c in categorie %}
                        <div class="zhuanti-list-item ht_custom_grid_1_4">
                            <a target="_blank" class="thumbnail-link" href="#">
                                <div class="thumbnail-wrap">
                                    <img src="{{ c.img_url }}" alt="{{ c.name }}"/>
                                </div>
                            </a>
                            <h3 class="zhuanti-title">
                                <a target="_blank" href="#">{{ c.name }}</a>
                            </h3>

                        </div>
                    {% endfor %}

                </div>
            </div>
            <main id="main" class="site-main clear">
                <div class="recent-heading"><h2 class="section-title"><span class="title">最新文章</span></h2>
                    <div class="posts-nav-menu">
                        <div class="menu-posts-container">
                            <ul id="posts-menu" class="posts-menu">
                                <li id="menu-item-781"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-781"><a
                                        href="https://www.zhutibaba.com/demo/iux/zhuanti-full">全宽专题</a></li>

                                <li id="menu-item-780"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-780"><a
                                        target="_blank" href="https://www.zhutibaba.com/demo/iux/posts-100">最新100篇</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="recent-content" class="content-list">
                    {#文章列表#}
                    <div class="posts-loop clear" id="articleList">

                    </div>
                </div>
            </main>

            {#加载框#}
            <input type="hidden" id="pageno" value="1"/>
            <input type="hidden" id="lastpage" value="false"/>
            <div class="scroller-status" id="scroller-status">
                <div class="infinite-scroll-request loader-ellips" id="loading">
                    <img src="/static/imgs/bx_loader.gif" alt=""/> 正在加载中...
                </div>
                <p class="infinite-scroll-last" id="finshed">
                    <img src="https://www.zhutibaba.com/demo/iux2/wp-content/themes/iux/assets/img/tick.png" alt=""/>
                    已加载全部内容</p>
                <p class="infinite-scroll-error" id="loadDone">你来到了世界的尽头!</p>
            </div><!-- .scroller-status -->

        </div>

        <aside id="secondary1" class="widget-area sidebar">
     <div class="sidebar__inner">
      <div id="iux-custom-text-2" class="widget widget_custom_text custom-text-widget">
       <a class="widget-link" href="https://www.zhutibaba.com/demo/iux2/" target="_blank"><h2 class="widget-title">本站推荐</h2><h4>好好学习，天天上线</h4>
        <div class="custom-text">
         这就是测试的文章，怎么样，是不是很炫酷。
        </div></a>
      </div>
      <div id="iux-views-2" class="widget widget-iux-views widget_posts_thumbnail">
       <h2 class="widget-title">热门文章</h2>
       <ul>
        <li class="clear"><a href="https://www.zhutibaba.com/demo/iux/582.html" rel="bookmark">
          <div class="thumbnail-wrap">
           <img width="150" height="90" src="https://www.zhutibaba.com/demo/iux/wp-content/uploads/sites/13/2018/07/iphone9-150x90.jpg" class="attachment-iux_widget_thumb size-iux_widget_thumb wp-post-image" alt="" />
          </div></a>
         <div class="entry-wrap">
          <a href="https://www.zhutibaba.com/demo/iux/582.html" rel="bookmark">苹果新品iPhone 9即将发布 颜值和配置有惊喜</a>
          <div class="entry-meta">
           2018-11-13
          </div>
         </div></li>
        <li class="clear"><a href="https://www.zhutibaba.com/demo/iux/294.html" rel="bookmark">
          <div class="thumbnail-wrap">
           <img width="150" height="90" src="https://www.zhutibaba.com/demo/iux/wp-content/uploads/sites/13/2018/07/g17-150x90.jpg" class="attachment-iux_widget_thumb size-iux_widget_thumb wp-post-image" alt="" />
          </div></a>
         <div class="entry-wrap">
          <a href="https://www.zhutibaba.com/demo/iux/294.html" rel="bookmark">超美的三亚,5天4晚全五星酒店高大上自由行</a>
          <div class="entry-meta">
           2018-07-27
          </div>
         </div></li>
        <li class="clear"><a href="https://www.zhutibaba.com/demo/iux/375.html" rel="bookmark">
          <div class="thumbnail-wrap">
           <img width="150" height="90" src="https://www.zhutibaba.com/demo/iux/wp-content/uploads/sites/13/2018/10/p2-150x90.jpeg" class="attachment-iux_widget_thumb size-iux_widget_thumb wp-post-image" alt="" />
          </div></a>
         <div class="entry-wrap">
          <a href="https://www.zhutibaba.com/demo/iux/375.html" rel="bookmark">美拟补贴贸易战中受损农场主遭反对: 不要补贴要市场</a>
          <div class="entry-meta">
           2018-10-02
          </div>
         </div></li>
        <li class="clear"><a href="https://www.zhutibaba.com/demo/iux/176.html" rel="bookmark">
          <div class="thumbnail-wrap">
           <img width="150" height="90" src="https://www.zhutibaba.com/demo/iux/wp-content/uploads/sites/13/2018/07/g8-150x90.jpg" class="attachment-iux_widget_thumb size-iux_widget_thumb wp-post-image" alt="" />
          </div></a>
         <div class="entry-wrap">
          <a href="https://www.zhutibaba.com/demo/iux/176.html" rel="bookmark">呼伦贝尔: 你不可错过的辽阔草原和兴安秋色!</a>
          <div class="entry-meta">
           2018-08-03
          </div>
         </div></li>
        <li class="clear"><a href="https://www.zhutibaba.com/demo/iux/560.html" rel="bookmark">
          <div class="thumbnail-wrap">
           <img width="150" height="90" src="https://www.zhutibaba.com/demo/iux/wp-content/uploads/sites/13/2018/07/b47-150x90.png" class="attachment-iux_widget_thumb size-iux_widget_thumb wp-post-image" alt="" />
          </div></a>
         <div class="entry-wrap">
          <a href="https://www.zhutibaba.com/demo/iux/560.html" rel="bookmark">多地住房公积金政策收紧 异地购房提取难度加大</a>
          <div class="entry-meta">
           2018-07-29
          </div>
         </div></li>
       </ul>
      </div>
      <div id="media_gallery-2" class="widget widget_media_gallery">
       <h2 class="widget-title">学员风采</h2>
       <ul class="gallery-slider">
        <li><img src="https://www.zhutibaba.com/demo/iux/wp-content/uploads/sites/13/2018/08/sticky6-780x460.jpeg" alt="" /></li>
        <li><img src="https://www.zhutibaba.com/demo/iux/wp-content/uploads/sites/13/2018/08/sticky4-780x460.jpeg" alt="" /></li>
        <li><img src="https://www.zhutibaba.com/demo/iux/wp-content/uploads/sites/13/2018/08/featured1-780x460.jpeg" alt="" /></li>
       </ul>
      </div>
      <div id="tag_cloud-2" class="widget widget_tag_cloud">
       <h2 class="widget-title">热门标签</h2>
       <div class="tagcloud">
        <a href="https://www.zhutibaba.com/demo/iux/tag/c%e7%bd%97" class="tag-cloud-link tag-link-11 tag-link-position-1" style="font-size: 8pt;" aria-label="C罗 (1个项目)">C罗<span class="tag-link-count"> (1)</span></a>
        <a href="https://www.zhutibaba.com/demo/iux/tag/es8" class="tag-cloud-link tag-link-12 tag-link-position-2" style="font-size: 8pt;" aria-label="ES8 (1个项目)">ES8<span class="tag-link-count"> (1)</span></a>
        <a href="https://www.zhutibaba.com/demo/iux/tag/iphone" class="tag-cloud-link tag-link-13 tag-link-position-3" style="font-size: 8pt;" aria-label="iPhone (1个项目)">iPhone<span class="tag-link-count"> (1)</span></a>
      </div>
      </div>
     </div>
    </aside>

    </div>
    <footer id="colophon" class="site-footer clear">
        <div class="clear"></div>
        <div id="site-bottom" class="clear">
            <div class="container">
                <div class="menu-posts-container">
                    <ul id="footer-menu" class="footer-nav">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-781"><a
                                href="https://www.zhutibaba.com/demo/iux/zhuanti-full">全宽专题</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-777"><a
                                target="_blank" href="https://www.zhutibaba.com/themes/iux">直达链接</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-778"><a
                                target="_blank" href="https://www.zhutibaba.com/themes">购买主题</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-779"><a
                                target="_blank" href="https://www.zhutibaba.com/demo/iux/posts-by-cat">按目录分类</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-780"><a
                                target="_blank" href="https://www.zhutibaba.com/demo/iux/posts-100">最新100篇</a></li>
                    </ul>
                </div>
                <div class="site-info">
                    &copy; 2019 <a href="#">浪晋测试小课堂</a> - 流云</a>
                </div>
            </div>
        </div>
    </footer>
</div>
<div class="bottom-right">
    <div class="icon-contact tooltip bottom-icon"><span class="icon-link"> <span class="icon"><i
            class="fa fa-phone"></i></span> <span class="text">联系我们</span> </span>
        <div class="left-space">
            <div class="left">
                <div class="contact-info"><h3>联系我们</h3> <strong>0898-88881688</strong>
                    <p>在线咨询: <a href="http://wpa.qq.com/msgrd?v=3&uin=3599145122&site=qq&menu=yes" target="_blank"><img
                            src="https://www.zhutibaba.com/demo/iux/wp-content/themes/iux/assets/img/qqchat.gif"
                            alt="QQ交谈"/></a></p>
                    <p>邮箱: email@wangzhan.com</p>
                    <p>工作时间：周一至周五，9:00-17:30，节假日休息</p></div>
                <i></i></div>
        </div>
    </div>
    <div class="icon-weixin tooltip bottom-icon"><span class="icon-link"> <span class="icon"><i
            class="fa fa-wechat"></i></span> <span class="text">关注微信</span> </span>
        <div class="left-space">
            <div class="left"><img
                    src="https://www.zhutibaba.com/demo/iux/wp-content/themes/iux/assets/img/weixin-qrcode.png"
                    alt="微信扫一扫关注我们"/>
                <h3>微信扫一扫关注我们</h3> <i></i></div>
        </div>
    </div>
    <div class="icon-weibo bottom-icon"><a href="https://weibo.com/zhutibaba" target="_blank"> <span class="icon"><i
            class="fa fa-weibo"></i></span> <span class="text">关注微博</span> </a></div>
    <div id="back-top" class="bottom-icon"><a href="#top" title="返回顶部"> <span class="icon"><i
            class="fa fa-chevron-up"></i></span> <span class="text">返回顶部</span> </a></div>
</div>

{#<script type='text/javascript'#}
{#        src='/static/js/common/autoptimize_single_5ee990907b315027da600eeeaee2e04b.js?ver=5.1.1'></script>#}
<script type="text/javascript" defer
        src="/static/js/common/autoptimize_0c7e0d211b04f681b107cd7df63ef4a8.js?ver=5.1.2"></script>

<div id="wsocial-dialog-login" style="display:none;position: fixed;z-index: 999;">
    <div class="xh-cover"></div>
    <div class="xh-regbox xh-window">
        <div class="xh-title">登录</div>
        <form class="xh-form">
            <div class="commonlogin62e0961019dfa40c5428b561edaa6e0b0 fields-error"></div>
            <div class="xh-form-group"><label class="required">用户名/邮箱/手机</label> <input type="text"
                                                                                        id="login62e0961019dfa40c5428b561edaa6e0b0_login_name"
                                                                                        name="login_name" value=""
                                                                                        placeholder="请输入用户名，邮箱或手机"
                                                                                        class="form-control " style=""/>
            </div>
            <script type="text/javascript">(function ($) {
                $(document).bind('on_form_login62e0961019dfa40c5428b561edaa6e0b0_submit', function (e, m) {
                    m.login_name = $('#login62e0961019dfa40c5428b561edaa6e0b0_login_name').val();
                });

            })(jQuery);</script>
            <div class="xh-form-group"><label class="required">密码</label> <input type="password"
                                                                                 id="login62e0961019dfa40c5428b561edaa6e0b0_login_password"
                                                                                 name="login_password" value=""
                                                                                 placeholder="" class="form-control "
                                                                                 style=""/></div>
            <script type="text/javascript">(function ($) {
                $(document).bind('on_form_login62e0961019dfa40c5428b561edaa6e0b0_submit', function (e, m) {
                    m.login_password = $('#login62e0961019dfa40c5428b561edaa6e0b0_login_password').val();
                });

            })(jQuery);</script>
            <div class="xh-form-group mt10">
                <button type="button" id="btn-login" onclick="window.xh_social_view.login();"
                        class="xh-btn xh-btn-primary xh-btn-block xh-btn-lg">登录
                </button>
            </div>
        </form>
        <script type="text/javascript">(function ($) {
            if (!window.xh_social_view) {
                window.xh_social_view = {};
            }

            window.xh_social_view.reset = function () {
                $('.xh-alert').empty().css('display', 'none');
            };

            window.xh_social_view.error = function (msg, parent) {
                var s = parent ? (parent + '.fields-error') : '.fields-error';
                $(s).html('<div class="xh-alert xh-alert-danger" role="alert">' + msg + '</div>').css('display', 'block');
            };

            window.xh_social_view.warning = function (msg, parent) {
                var s = parent ? (parent + '.fields-error') : '.fields-error';
                $(s).html('<div class="xh-alert xh-alert-warning" role="alert">' + msg + '</div>').css('display', 'block');
            };

            window.xh_social_view.success = function (msg, parent) {
                var s = parent ? (parent + '.fields-error') : '.fields-error';
                $(s).html('<div class="xh-alert xh-alert-success" role="alert">' + msg + '</div>').css('display', 'block');
            };
        })(jQuery);</script>
        <script type="text/javascript">(function ($) {
            $(document).keypress(function (e) {
                if (window.__wsocial_enable_entrl_submit) {
                    if (e.which == 13) {
                        window.xh_social_view.login();
                    }
                }
            });

            window.xh_social_view.login = function () {
                window.xh_social_view.reset();
                var data = {};
                $(document).trigger('on_form_login62e0961019dfa40c5428b561edaa6e0b0_submit', data);
                $('#btn-login').attr('disabled', 'disabled').text('加载中...');
                this.loading = true;

                jQuery.ajax({
                    url: 'https://www.zhutibaba.com/demo/iux/wp-admin/admin-ajax.php?action=xh_social_add_ons_login&tab=login&xh_social_add_ons_login=8fcfc4fd23&notice_str=8512225726&hash=bc726d1d2c00600738c542da3a8c74a5',
                    type: 'post',
                    timeout: 60 * 1000,
                    async: true,
                    cache: false,
                    data: data,
                    dataType: 'json',
                    complete: function () {
                        $('#btn-login').removeAttr('disabled').text('登录');
                    },
                    success: function (m) {
                        if (m.errcode == 405 || m.errcode == 0) {
                            window.xh_social_view.success('登录成功！', '.commonlogin62e0961019dfa40c5428b561edaa6e0b0');

                            if (window.top && window.top != window.self) {
                                var $wp_dialog = jQuery('#wp-auth-check-wrap', window.top.document);
                                if ($wp_dialog.length > 0) {
                                    $wp_dialog.hide();
                                    return;
                                }
                            }

                            location.href = 'https://www.zhutibaba.com/demo/iux/';
                            return;
                        }

                        window.xh_social_view.error(m.errmsg, '.commonlogin62e0961019dfa40c5428b561edaa6e0b0');
                    },
                    error: function (e) {
                        window.xh_social_view.error('系统内部错误！', '.commonlogin62e0961019dfa40c5428b561edaa6e0b0');
                        console.error(e.responseText);
                    }
                });
            };
        })(jQuery);</script>
        <div class="xh-user-register xh-w"><a href="https://www.zhutibaba.com/demo/iux/register">注册</a>|<a
                href="https://www.zhutibaba.com/demo/iux/findpassword">忘记密码？</a></div>
        <a class="xh-close" href="javascript:void(0);"></a></div>
</div>
<script type="text/javascript">(function ($) {
    $('#wsocial-dialog-login .xh-close,#wsocial-dialog-login .xh-cover').click(function () {
        window.__wsocial_enable_entrl_submit = false;
        $('#wsocial-dialog-login').hide();
    });
    window.wsocial_dialog_login_show = function () {
        $('#wsocial-dialog-login').css('display', 'block');
        window.__wsocial_enable_entrl_submit = true;
        window.__modal_wsocial_login_resize();
    };
    $(function () {
        $('.btn-wsocial-login').click(function (event) {
            event.stopPropagation();
            window.wsocial_dialog_login_show();
            return false;
        });
    });
    window.__modal_wsocial_login_resize = function () {
        var $ul = $('#wsocial-dialog-login');
        var width = window.innerWidth, height = window.innerHeight;
        if (typeof width != 'number') {
            if (document.compatMode == 'CSS1Compat') {
                width = document.documentElement.clientWidth;
                height = document.documentElement.clientHeight;
            } else {
                width = document.body.clientWidth;
                height = document.body.clientHeight;
            }
        }
        $ul.css({
            top: ((height - $ul.height()) / 2) + "px",
            left: ((width - $ul.width()) / 2) + "px"
        });
    };
    $(window).resize(function () {
        window.__modal_wsocial_login_resize();
    });
})(jQuery);</script>


<script src="./static/js/common/sticky-sidebar.min.js"></script>
<script>(function ($) {
    $(document).ready(function () {
        // 右侧滑动框
        "use strict";
        $(window).load(function () {
            var stickySidebar = new StickySidebar('#secondary1', {
                topSpacing: 20,
                bottomSpacing: 20
            });
       });

    });

})(jQuery);</script>



{#自定义脚本#}
<script>(function ($) { //create closure so we can safely use $ as alias for jQuery

    $(document).ready(function () {
        // 初始化文章列表
        getAritcleList();

        // 页面下滑事件
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                getAritcleList();
            }
        });
    });

// 获取文章
var getAritcleList = function () {
    showLoading();

    // 如果是最后一页，就不加载了
    if ($("#pageno").val() == "true") {
        hiddenLoading();
        loadDoneLoading();
        return;
    }

    // 如果不是最后一页，就继续加载
    var p = $("#pageno").val();
    $.ajax({
        type: 'get',
        url: '/getArticleList?p=' + p,
        success: function (str) { //返回json结果
            // 成功和未登录都进行跳转
            if (str.code == 200) {
                addArticleList(str.data); // 加载文章列表
                $("#pageno").val(parseInt(p) + 1);    // 设置当前页数
                hiddenLoading();

                if (p == str.data.total) {
                    $("#pageno").val("true");
                    loadDoneLoading();
                }
                // addArticlePaging(str)

            } else {
                alert(str.msg);
            }

        },
        fail: function (err, status) {
            console.log(err);
            hiddenLoading();
        }
    });
};

// 加载文章列表
var addArticleList = function (str) {
    for (var i = 0; i < str.data.length; i++) {
        var article = "                        <div id=\"" + str.data[i].id + "\"\n" +
            "                             class=\"clear post-" + str.data[i].id + " post type-post status-publish format-standard has-post-thumbnail hentry category-tech tag-25 tag-26 tag-27\">\n" +
            "                            <a target=\"_blank\" class=\"thumbnail-link\"\n" +
            "                               href=\"goArticleDetails?id=" + str.data[i].id + "\">\n" +
            "                                <div class=\"thumbnail-wrap\">\n" +
            "                                    <img width=\"300\" height=\"193\"\n" +
            "                                         src=\"" + str.data[i].image + "\"\n" +
            "                                         class=\"attachment-iux_list_thumb size-iux_list_thumb wp-post-image\" alt=\"\"/>\n" +
            "                                </div><!-- .thumbnail-wrap -->\n" +
            "                            </a>\n" +
            "                            <header class=\"entry-header\">\n" +
            "\t\n" +
            "\t\t<span class=\"entry-category\">\n" +
            "\t\t\t<a target=\"_blank\" href=\"https://www.zhutibaba.com/demo/iux/tech \">科技</a>\n" +
            "\t\t</span><!-- .entry-category -->\n" +
            "                                <h2 class=\"entry-title\"><a target=\"_blank\"\n" +
            "                                                          href=\"goArticleDetails?id=" + str.data[i].id + "\" >" + str.data[i].title + "\n" +
            "                            </header>\n" +
            "                            <div class=\"entry-overview \t\">\n" +
            "                                <div class=\"entry-meta\">\n" +
            "\t\t\t<span class=\"entry-date\">\n" +
            "\t\t\t\t" + str.data[i].createtime + "\t\t\t</span><!-- .entry-date -->\n" +
            "                                    <span class=\"entry-like\">\n" +
            "\t\t\t\t\t<span class=\"sl-wrapper\"><a\n" +
            "                            href=\"https://www.zhutibaba.com/demo/iux/wp-admin/admin-ajax.php?action=process_simple_like&post_id=582&nonce=2eb9326105&is_comment=0&disabled=true\"\n" +
            "                            class=\"sl-button sl-button-582\" data-nonce=\"2eb9326105\" data-post-id=\"" + str.data[i].id + "\"\n" +
            "                            data-iscomment=\"0\" title=\"点赞这篇文章\"><span class=\"sl-count\"><i class=\"fa fa-thumbs-o-up\"></i> " + str.data[i].studycount + "<em>学习</em></span></a><span\n" +
            "                            class=\"sl-loader\"></span></span>\t\t\t\t</span><!-- .entry-like -->\n" +
            "                                    <span class=\"entry-views\"><a href=\"goArticleDetails?id=" + str.data[i].id + "\" ><i\n" +
            "                                            class=\"flaticon-eye\"></i> " + str.data[i].readcount + "<em>阅读</em></a></span>\n" +
            "                                    <span class=\"entry-comment\"><a\n" +
            "                                            href=\"goArticleDetails?id=" + str.data[i].id + "\"\n" +
            "                                            class=\"comments-link\"><i\n" +
            "                                            class=\"flaticon-chat-comment-oval-speech-bubble-with-text-lines\"></i> " + str.data[i].commentcount + "<em>评论</em></a></span>\n" +
            "                                </div><!-- .entry-meta -->\n" +
            "                                <div class=\"entry-summary\">\n" +
            "                                    <p>" + str.data[i].summary + "</p>\n" +
            "                                </div><!-- .entry-summary -->\n" +
            "                            </div><!-- .entry-overview -->\n" +
            "                        </div>\n";
        $("#articleList").append(article);
    }
};

// 显示加载图片
var showLoading = function () {
    $('#scroller-status').show();
    $('#loading').show();
};

// 显示结束
var showFinshed = function () {
    $('#scroller-status').show();
    $('#finshed').show();
};

var hiddenLoading = function () {
    $('#scroller-status').hide();
    $('#loading').hide();
};

var hiddenFinshed = function () {
    $('#scroller-status').hide();
    $('#finshed').hide();
};

var loadDoneLoading = function () {
    $('#scroller-status').show();
    $('#loadDone').show();
};

var loadDoneFinshed = function () {
    $('#scroller-status').hide();
    $('#loadDone').hide();
};

})(jQuery);</script>

<script>(function ($) { //create closure so we can safely use $ as alias for jQuery

    $(document).ready(function () {

        "use strict";
        if ($(window).width() >= 960) {

            var mn = $(".site-header");
            var mns = "main-nav-scrolled";
            var hdr = $('.top-bar').height();

            $(window).scroll(function () {
                if ($(this).scrollTop() > hdr) {
                    mn.addClass(mns);
                    $('.header-space').css('display', 'block');
                } else {
                    mn.removeClass(mns);
                    $('.header-space').css('display', 'none');
                }
            });

        }

    });


})(jQuery);</script>

<script>(function ($) { //create closure so we can safely use $ as alias for jQuery

    $(document).ready(function () {

        "use strict";

        if ($(window).width() >= 960) {

            var mn = $(".site-header");
            var mns = "main-nav-scrolled";
            var hdr = $('.top-bar').height();

            $(window).scroll(function () {
                if ($(this).scrollTop() > hdr) {
                    mn.addClass(mns);
                    $('.header-space').css('display', 'block');
                } else {
                    mn.removeClass(mns);
                    $('.header-space').css('display', 'none');
                }
            });

        }

    });


})(jQuery);</script>


<script>(function ($) { //create closure so we can safely use $ as alias for jQuery

    $(document).ready(function () {
        "use strict";
        /*-----------------------------------------------------------------------------------*/
        /*  Slick Mobile Menu
        /*-----------------------------------------------------------------------------------*/
        $('#primary-menu').slicknav({
            prependTo: '#slick-mobile-menu',
            allowParentLinks: true,
            label: '导航'
        });

    });

})(jQuery);</script>

{#<script type="text/javascript" src="/static/js/common/jquery.min.js"></script>#}
{#<script type="text/javascript" src="/static/js/common/jquery.min.js"></script>#}
{#<script type="text/javascript" src="/static/js/user/index.js"></script>#}

</body>
</html>
